@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Lexend Giga, sans-serif;
}

header {
  padding-bottom: 28rem;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(24, 24, 27);
}

.bg-slate-700 {
  min-height: 100vh;
}

.btn {
  padding: 15px 110px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border-radius: 80px;
  background-color: transparent;
  font-weight: bold;
  transition: background-color 1s ease;
}

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  left: 0;
  top: 0;
  border-radius: 80px;
}

.btn::before {
  content: "";
  background: linear-gradient(
    45deg, #1aeb32, #1aeb32, #1aeb32, #25c42d, #25c42d, #25c42d, #25c42d
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 100%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(200px);
  animation: glowing 5s linear infinite;
  transition: opacity 1s ease-in-out;
  border-radius: 80px;
  opacity: 0;
  padding: 20px;
}


@keyframes glowing {
  0% { background-position: 0 0; }
  100% { background-position: 100% 100%; }
}

.btn:hover::before {
  opacity: 1;
}

.btn:active {
  background-color: transparent;
  border: none;
}

.btn:active::before {
  opacity: 1;
}

.btn:active::after {
  background: transparent;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
}

.fluo {
  position: relative;
  padding: 20px;
  border-radius: 10px;
}


@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.fluo::before,
.fluo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: conic-gradient(from var(--angle), transparent, transparent, green, transparent, transparent, green, transparent);
  border-radius: 10px;
  z-index: -1;
  animation: spin 5s linear infinite;
}

.fluo::before {
  filter: blur(1rem);
  opacity: 1;
}




@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.jsp {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.grid-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  padding: 20px;
  justify-items: center;
  margin: 0 auto;
}

.container {
  position: relative;
  width: 40vw;
  aspect-ratio: 16/9;
  cursor: pointer;
  border-radius: 10px;
}


.rectangle-vert {
  width: 100%;
  height: 100%;
  background-color: green;
  border-radius: 10px;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.7); 
  backdrop-filter: blur(3px); 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
  border-radius: 10px;
}


.overlay p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}


.container:hover .overlay {
  backdrop-filter: blur(0px); 
  background-color: rgba(128, 128, 128, 0); 
}

.link-unstyled {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}

.container:hover .overlay {
  backdrop-filter: blur(0px);
  background-color: rgba(128, 128, 128, 0);
}

footer {
  background-color: rgb(51, 51, 51 ,0.4);
  color: #fff;
  padding: 1rem;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 3rem;
}

.text {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 2rem;
}

.dud {
  color: rgb(44, 172, 19);
}

.detail-container {
  width: 80%;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff; 
}

.main-image-container {
  margin-bottom: 20px;
}

.main-image-wrapper {
  display: flex;
  justify-content: center;
}

.main-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.text-container {
  margin-bottom: 20px;
}

.text-wrapper {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9; 
  border-radius: 10px;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.images-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.image-item {
  flex: 1;
}

.image-item img {
  width: 100%;
  height: 95%;
  border-radius: 10px;
}

.detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(24, 24, 27);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.modal-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.navigation {
  display: flex;
  justify-content: top;
  align-items: center;
  padding: 20px;
  padding-top: 0;
  margin-bottom: 50px;
}

.navigation-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
  
}

.navigation-item {
  margin: 0;
}

.navigation-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navigation-link:hover {
  color: #1aeb32; 
}


.moi-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.gif-container {
  margin-bottom: 20px;
}

.gif-image {
  width: 100%;
  object-fit: cover;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
  text-align: center; 
}

.text-blocks {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-bottom: 20px;
  color: white; 
}

.text-block {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px; 
}

.bullet-point {
  font-size: 1.5rem;
  margin-right: 10px;
  color: white;
}

.text-block p {
  margin: 0;
  color: white;
}

.spotify-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: white;
  text-align: center; 
}

.spotify-container {
  margin-top: 20px;
}
h1.page-title-moi{
  color: white;
  margin-bottom: 20px;
  font-size: 1.5vw;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  padding: 3rem;
  background-color: rgba(51, 51, 51, 0.4); 
  border-radius: px;
  color: white;
  width: 70%;
  margin: 0 auto;
}

.form-container label {
  font-size: 1rem;
}

.form-container input,
.form-container textarea {
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  width: 100%;
  background-color: rgb(133, 127, 127); 
  color: black; 
  z-index : 1 ;
}

.form-container input::placeholder,
.form-container textarea::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-container input[type="file"] {
  border-radius: 4px;
  padding: 0.5rem; 
}

.form-container button {
  padding: 1rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: #1aeb32;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30%;
  margin: 0 auto;
  margin-top: 1rem;
}

.form-container button:hover {
  background-color: #25c42d;
}
.form-title {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
height: 55px;
margin-bottom: 100px;
}


.hover-zoom {
  cursor: pointer; 
  overflow: hidden; 
}

.hover-zoom-image {
  transition: transform 0.3s ease; 
}

.hover-zoom:hover .hover-zoom-image {
  transform: scale(1.1); 
}


@media (max-width: 768px) {
  .images-container {
    grid-template-columns: 1fr;
  }
  .images-wrapper {
    flex-direction: column;
  }
}

@media (min-width: 1400px) {
  header, main {
    padding-top: 50px;
    padding-right: 200px;
    padding-left: 200px;
  }
  .grid-container {
    row-gap: 200px;
  }
  .container {
    height: 500px;
  }
  .detail-container {
    padding: 200px;
  }
  .form-container {
    width: 60%;
  }
  .grid-container {
   margin: 1px;
   gap : 100px;

  }
}